services:
  - type: web
    name: discord-tts-bot
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: PORT
        value: "3000"
    healthCheckPath: /ping
